.hd1{
    text-transform: uppercase;
    text-align: center;
    color: gold;
    text-shadow: 3px 4px 3px yellow;
    animation: doimau 5s infinite;
}
.menu{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: lightgray;
    animation: doimau 5s infinite;
}
.submenu{
    display: none; !important;
    min-width: 10%;
    position: absolute;
}
.sub:hover .submenu{
    display: block; !important;
}
.submenu > li{
    border-left: none; !important;
}
ul.menu > li{
    border-left: 1px solid white;
    min-width: 10%;
    text-align: center; 
}

ul.menu > li > a{
    text-decoration: none;
    display: block;
    padding: 1rem;
}

li > a:hover{
    background-color: blue;
    color: white;
}

ul.menu > li:first-child{
    border-left: none;
}

ul.menu > li:last-child{
    margin-left: auto;
}

.lang:last-child{
    border-bottom: none;
}
.col1{
    width: 10%;
}

.col2{
    width: 90%;
}

.langs{
    background-color: gray;
}

.lang{
    display: flex;
    border-bottom: 1px solid white;
    padding: 0.5rem;
    margin: 0.5rem;
}

.lang img{
    width: 100%;
    transition: transform .5s;
}

.lang:hover img{
    transform: scale(50deg);
}
footer{
    text-align: center;
    background-color: blue;
    color: white;
    overflow: hidden;
    animation: move 1s infinite;
}

@keyframes doimau{
    25%{
        background-color: red;
    }
    50%{
        background-color: yellow;
    }
    75%{
        background-color: green;
    }
    100%{
        background-color: cyan;
    }
}

@keyframes doimauChu{
    25%{
        color: red;
    }
    50%{
        color: yellow;
    }
    75%{
        color: green;
    }
    100%{
        color: cyan;
    }
}

@keyframes move{
    from{
        left: 0;
    } 
    to{
        left: 100%;
    }
}